# Compilación
build/
bin/
obj/
payload

# Resultados de experimentos
resultados_latencia/
resultados_recursos/
*.log
*.csv
*.png

# Archivos de sistema y editores
.DS_Store
.idea/
.vscode/
*.swp
venv/

# Archivos de CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
cmake_post_build.sh
.cmake/
